*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.nav{
    border: 2px solid gray;
    display: flex;
}

.nav>.image{
            padding: 20px;
            display: flex;
            flex-direction:row-reverse;
            width: 300px;
}

.nav>.navbar{
            display: flex;
            /* padding: 25px; */
}

.nav>.navbar>ul{
                padding: 23px;
                display: flex;
                gap: 15px;
                margin-left: 25px;
}

.nav>.navbar>ul>li{
                    text-decoration: none;
                    margin-left: 25px;
}

.nav>.btn{
            padding: 18px;
            margin-left: 20px;
}


.nav>.btn>.btn1{
                margin-left: 10px;
                width: 100px;
                height: 30px;
                background-color: #1572D3;
                color: white;
                border-radius:8px;
                border: none;
}

.nav>.btn>.btn2{
                margin-left: 20px;
                border: none;
                background-color: white;
                color: black;   
}

.body{
    display: flex;
    padding: 40px;
    margin-top: 40px;
    margin-left: 20px;
}

.body>.text{
            padding: 20px;
            margin-top: 10px;
            margin-left: 20px;
            width: 320px;
}

.body>.text>h1{
                font-size: 32px;
                font-family: Arial, Helvetica, sans-serif;
}

.body>.text>h1>.color{
                    color: #1572D3;
}

.body>.text>h1>.color>.logo{
                        display: flex;
                        justify-content:flex-end;
                        margin: 0 auto;
                        margin-right: 20px;
                        width: 95px;
                        margin-bottom: 20px;                       
}

.body>.text>p{
                margin-bottom: 20px;
}

.body>.text>.icon{
                    margin-top: 20px;
}

.body>.main{
            display: inline-flex;
            position: absolute;
            top: -2%;
            left: 55%;
}

.body>.main>.img{
                    position: absolute;
                    top: 20%;
                    left: -40%;
}

.location{
        display: flex;
        /* padding: 20px; */
        margin-top: 14%;
        margin-left: 20px;
}

.location>.location1{
                        padding: 20px;
                        margin-top: 20px;
                        margin-left: 40px;
}

.location>.text1>h3{
                margin-top: 40px;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
}

.location>.text1>p{
                    color: #B6B6B6;
}

.location>.calender{
        display: flex;
        margin-left: 20px;
        
}

.location>.calender>.calender1{
                        padding: 20px;
                        margin-top: 20px;
                        margin-left: 70px;
}

.location>.calender>.text2>h3{
                margin-top: 40px;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                     
}

.location>.calender>.text2>p{
                            color: #B6B6B6;
}

.location>.btn3{
                margin-top: 15px;
                padding: 15px;
                margin-left: 60px;
}

.location>.btn3>button{
                        width: 130px;
                        height: 40px;
                        border-radius: 10px;
                        color: white;
                        background-color: #1572D3;
                        border: none;
}

.tag{
    margin-top: 10%;
}

.tag>button{
        /* border: 1px solid black; */
        width: 100px;
        height: 30px;
        margin-left: 45%;
        border-radius: 5px;
        background-color:#1572D31A;
        color: #1572D3;
        border: none;
}

.section{
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 20px;
}

.section>.text3{
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 70px;
}

.section1{
            display: flex;
            
}

.section1>.plus{
                margin-left: 22%;
}

.section1>.plus>h3{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    margin-left: -10px;
}

.section1>.plus>p{
                display: block;
                margin-left: -10px;
}

.section1>.calender3{
                           margin-left: 12%;
}

.section1>.calender3>h3{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-family: Arial, Helvetica, sans-serif;
}

.section1>.car{
                 margin-left: 12%;
}

.section1>.car>h3{
                     margin-top: 20px;
                    margin-bottom: 20px;
                    font-family: Arial, Helvetica, sans-serif;
}

.main1{
    margin-top: 120px;
    
}

.main1>.image1{
        /* border: 1px solid black; */
        display: inline-block;
        margin-top: 120px;
}


.image1>.img4{
                margin-left:-62%;
                margin-bottom: 17%;
}

.main1>.text4{
    position:absolute;
    top: 267%;
    /* border: 1px solid black; */
    left: 60%;
    width: 450px;
}

.main1>.text4>.btn4>button{
                            width: 120px;
                            height: 30px;
                            background-color: #1572D31A;
                            color:#1572D3;
                            border: none;
                            margin-bottom: 20px;
}

.main1>.text4>.text5>h1{
                        font-family: Arial, Helvetica, sans-serif;
                        margin-bottom: 20px;
}

.main1>.text4>.para{
                    display: flex;
                    flex-wrap: wrap;
}

.main1>.text4>.para>.img5{
                            margin-top: 20px;
                            margin-bottom: 20px;
}

.main1>.text4>.para>.text6{
                            padding: 10px;
                            margin-left: 5px;
}

.main1>.text4>.para>.text6>h4{
                                margin-top: 5px;
                                margin-bottom: 10px;
                                font-family: Arial, Helvetica, sans-serif;
}

.main1>.text4>.para>.text6>p{
                                color: #6D6D6D;
}

.main1>.text4>.para1{
                    display: flex;
                    margin-bottom: 20px;
}

.main1>.text4>.para1>.text7{
                                margin-left: 10px;
}

.main1>.text4>.para1>.text7>h4{
                                font-family: Arial, Helvetica, sans-serif;
                                margin-bottom: 10px;
}

.main1>.text4>.para1>.text7>p{
                                color: #6D6D6D;
}

.Body{
        border: 1px solid black;
        margin-top: 80px;
        text-align: center;
}

.Body>.btn5>button{
                    height: 42px;
                    background-color: #1572D31A;
                    color: #1572D3;
                    border: none;
                    margin-bottom: 15px;
}

.Body>.btn5>h1{
                font-family: Arial, Helvetica, sans-serif;
                margin-bottom: 30px;
}

.images{
        margin-top: 10px;
        margin-left: 36px;
        display: flex;
}

.images>.pic>button{
                    height: 48px;
                    border-radius: 8px;
                    width: 216px;
                    margin-left: 40%;
                    background-color: #E0E0E0;
                    border: none;
}

.final{
        height: 800px;
        /* border: 1px solid black; */
        margin-top: 70px;
        display: flex;
        background-color: #F7FBFF;
}

.final>.image2{
                padding: 90px;
                margin-left: 40px;            
}

.final>.image2>.img8{
                    margin-top: -90px;
                    display: flex;
                    justify-content: flex-end;
                    width: 1000px;
}

.final>.image2>.text8{
                        /* border: 1px solid black; */
                        margin-top: -90px;
}

.final>.image2>.text8>button{
                                width: 161px;
                                height: 42px;
                                margin-left: 37%;
                                background-color: #1572D31A;
                                color: #1572D3;
                                border: none;
                                border-radius: 8px;
}

.final>.image2>.text8>h1{
                            text-align: center;
                            margin-left: -120px;
                            font-family: Arial, Helvetica, sans-serif;
                            margin-top: 10px;
                            color: #333333;
}

.final>.image2>.img7{
                    margin-top: -140px;
}

.final>.image2>.img9{
                        margin-left: -130px;
                        margin-top: -120px;
}

.final1{
    display: block;
}

.final1>.btn7{
                margin-top: -30%;
                margin-left: 10%;
                margin-bottom: 10px;
}

.final1>.btn7>button{
                    width: 146px;
                    height: 42px;
                    border-radius:8px;
                    color:#1572D3 ;
                    background-color: #1572D31A;
                    border: none;
}

.final1>.text9{
                margin-left: 10%;
                margin-bottom: 10px;
                /* border: 1px solid black; */
                width: 350px;
}

.final1>.text9>h1{
                    font-family: Arial, Helvetica, sans-serif;
}

.final1>.text9>h1>span{
                        color: #1572D3;
}

.final1>.para2{
                margin-left: 10%;
                margin-bottom: 30px;
}

.final1>.para2>p{
                    color: #3E3E3E;
                    font-family: Arial, Helvetica, sans-serif;
}

.final1>.icons{
                margin-left: 10%;
                margin-bottom: 10px;
            
}

.final1>.image10{
                margin-left: 53%;
                margin-top: -20%;
}

.foot{
    height: 375px;
    border: 1px solid black;
    background-color: #051C34;
}

#footer {
  background: #1f1f1f;
  color: white;
  padding: 50px 0;
  margin-top: 30px;
}

.footer{
  width: 85%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left {
  max-width: 250px;
  margin-left: 100px;
}

.logo-h{
    display: flex;
    gap:6px;
}
.logo-h>h3{
    color: white;
    font-size: 26px;

}
.footer>.footer-left>p{
    margin-top: 40px;
    color: white;
    font-size: 10px;
    line-height: 13px;
}
.social-icons{
    display: flex;
    gap: 20px;
    width: 32px;
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 70px;
}
/* .social-icons>li>img{ */
    /* width: 240px; */
/* } */

.footer-col h3,
.footer-newsletter h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-col a {
  display: block;
  color: #cccccc;
  margin-bottom: 8px;
  text-decoration: none;
}

.newsletter-box {
  display: flex;
  background: #333;
  padding: 12px;
  border-radius: 8px;
}

.newsletter-box input {
  border: none;
  background: transparent;
  color: white;
  width: 100%;
  outline: none;
}

/* ----------------------------------
   RESPONSIVE DESIGN
---------------------------------- */

/* Tablet */
@media (max-width: 768px) {

    /* NAVBAR */
    .nav {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
    .nav .navbar ul {
        flex-wrap: wrap;
        gap: 10px;
    }
    .nav .btn {
        margin-left: 0;
        justify-content: center;
    }

    /* HERO SECTION */
    .body {
        flex-direction: column;
        margin: 0;
        padding: 20px;
    }
    .body .main {
        position: unset;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .body .main img {
        width: 90%;
    }

    /* LOCATION BAR */
    .location {
        flex-direction: column;
        gap: 20px;
        margin: 30px 20px;
    }
    .location .btn3 {
        margin-left: 0;
    }

    /* 3 STEP SECTION */
    .section1 {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    /* WHY CHOOSE US */
    .main1 img {
        width: 100%;
    }
    .main1 .text4 {
        position: unset;
        width: 100%;
        margin-top: 40px;
        padding: 20px;
    }

    /* POPULAR DEALS */
    .images {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .images .pic img {
        width: 90%;
        margin-bottom: 20px;
    }
    .images .pic button {
        margin-left: 0;
    }

    /* TESTIMONIAL */
    .final {
        flex-direction: column;
        height: auto;
    }
    .final img {
        width: 100%;
    }

    /* DOWNLOAD APP */
    .final1 {
        text-align: center;
    }
    .final1 .image10 {
        margin: 0;
    }

    /* FOOTER */
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .footer-left {
        margin-left: 0;
    }
}

/* MOBILE */
@media (max-width: 480px) {

    .nav img {
        width: 120px;
    }

    .nav ul li {
        margin-left: 10px;
        font-size: 14px;
    }

    .body .text h1 {
        font-size: 24px;
    }

    .body .main img {
        width: 100%;
    }

    .location {
        padding: 10px;
    }

    .section1 {
        gap: 30px;
    }

    .main1 .text4 h1 {
        font-size: 22px;
    }

    .images .pic img {
        width: 100%;
    }

    .final1 .text9 h1 {
        font-size: 24px;
    }

    footer {
        padding: 20px;
    }
}

